<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.drafire.testall.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.drafire.testall.model.User">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>
  <insert id="insert" parameterType="com.drafire.testall.model.User">
    insert into t_user (id, amount, name
      )
    values (#{id,jdbcType=INTEGER}, #{amount,jdbcType=DECIMAL}, #{name,jdbcType=VARCHAR}
      )
  </insert>

  <update id="update" parameterType="com.drafire.testall.model.User">
    UPDATE t_user
    set amount=#{amount,jdbcType=DECIMAL},name=#{name,jdbcType=VARCHAR}
    WHERE id=#{id,jdbcType=INTEGER}
  </update>
</mapper>